@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

html {
    width: 450px;
    height: 260px;
    margin: 0;
    padding: 0;
    background-image: url("../../assets/img/memory_bg.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* background-color: #F4f2f0; */
}

.container {
  font-family: "Playwrite VN", serif;
  /* display: flex; */
  align-items: center;
  align-content: center;
  justify-content: center;
}
#memory-div {
  font-family: 'Courier', monospace;
  font-size: 15px;
  align-self: center;
  /* font-weight: 700; */
}


  .playwrite-vn {
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
