@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');

body {
  min-width: 400px;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/img/tulip_pixel.png");
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-origin: content-box; */
  background-attachment: fixed;

}

#title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Playwrite VN", serif;
  color: white;
  font-size: 30px;
}

#memory {
  color: white;
  margin-left: 10px;
}

.camera {
  width: 60px;
  height: 50px;
}

.capture {
  background-color: transparent;
  border: none;
}

.capture:active {
  transform: scale(0.90);
}


/* fonts */

.playwrite-vn {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}