html {
  width: 400px;
  height: 260px;
  margin: 0;
  padding: 0;
  /* background-image: url("../../assets/img/tulip_pixel.png"); */
  background-color: cadetblue;
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#memory {
  height: 100px;
  border-radius: 10px;
  width: 300px;
}

button {
  margin: 15px;
  width: 70px;
  height: 30px;
}